body {
	font-family: Verdana;
	background: black;
	color: green;
}

.wizard_container {
	width: 500px;
	overflow: hidden;
}
.wizard {
	width: 10000px;
	border: solid red;	
}

.wizard .step {
	display: inline-block;
	float: left;
	border: solid orange;
	width: 400px;
	height: 200px;
}

header h1 {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 1em;	
}

nav {
	display: inline-block;
}

nav .topic {
    border-radius: 2px;
  	display: inline-block;
	overflow: hidden;
	width: 5em;
	height: 5em;
	font-size: +1em;
	font-variant: small-caps;
	border: solid thick;
	border-color: green;
	background: green;
	color: white;
	text-align: center;
	margin: 1px;
}

nav .topics li:hover {
	background: lightgreen;
	color: black;
}

#feedback {
	border-radius: 15px;
	border: solid 2px;
}
