body {
	font-family: Verdana;
	background: black;
	color: green;
}

.wizard_container {
	width: 600px;
	overflow: hidden;
}
.wizard {
	width: 10000px;

	transition: all 0.7s ease-in-out;
}

.wizard .step {
	display: inline-block;
	float: left;

	width: 400px;
	height: 200px;
}

header h1 {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 1em;	
}

nav {
	display: inline-block;
}

#feedback {
	margin-top: 1em;
	border-radius: 15px;
	border: solid 2px;
}
